# Build & Dependencies
node_modules
dist
build

# Environment Files
.env
.env.*
*.env

# Git & Repository
.git
.gitignore
.github

# Documentation & Logs
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
